@model SettingsEditModel
@{
    ViewData["Title"] = "Create User Settings";
}
<h1>@ViewData["Title"]</h1>

<form asp-controller="Settings" asp-action="Create">

    <partial name="_SettingsPartial" model="@Model" />

    <div class="form-group pt-3">
        <button type="submit">Create</button>
    </div>
</form>