@model SettingsEditModel

<h1>Edit User Settings</h1>

<form asp-controller="Settings" asp-action="Edit">

    <partial name="_SettingsPartial" model="@Model" />

    <div class="form-group pt-3">
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
</form>