@model SettingsEditModel
@{
    ViewData["Title"] = "Edit User Settings";
}
<h1>@ViewData["Title"]</h1>

<form asp-controller="Settings" asp-action="Edit">

    <partial name="_SettingsPartial" model="@Model" />

    <div class="form-group pt-3">
        <button type="submit">Save</button>
    </div>
</form>