@{
    ViewData["Title"] = "Пользовательское соглашение";
}
<h1>@ViewData["Title"]</h1>

<p>Вы ожидали увидеть здесь длинный текст, но его не будет. Может, в другой жизни, когда ты станешь кошкой...</p>

