@model FilterEditModel
@{
    ViewData["Title"] = "Create Filter";
}
<h1>@ViewData["Title"]</h1>

<form asp-controller="Filter" asp-action="Create">

    <partial name="_FilterPartial" model="@Model" />

    <div class="form-group pt-3">
        <button type="submit" class="btn btn-primary">Create</button>
    </div>
</form>